.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}

/* ===== Header Start ===== */

.header {
  height: 100vh;
  display: flex;
  min-height: 600px;
  max-height: 756px;
}

.logo_place_header {
  width: 154px;
  height: 31px;
  display: flex;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 5;
}

.header__title {
  line-height: 96px;
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: relative;
  left: 64px;
}

.header__main-illustration {
  position: relative;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: relative;
  top: 64px;
  right: 0;
  z-index: 0;
}


/* ===== Header End ===== */

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
