@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*{
  border: solid 1px red;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  padding: 0;
}

/* ===== Header Start ===== */

.header {
  height: 100vh;
  display: flex;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background: #F2F2F2;
  overflow: hidden;
}

.logo {
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
}

.logo_place_header {
  background-image: url('../images/logo_place_header.png');
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  margin: 0;
  align-self: center;
  line-height: 96px;
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  margin-left: 64px;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.header__link {
 color: #2F80ED;
 text-decoration: none;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  transform: rotate(-15deg);
  animation: rotation 20s linear infinite;
}


/* ===== Header End ===== */

/* ========== Start of Content ========== */

/* ===== description start ===== */

.description {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  min-width: 784px;
  margin: 100px auto 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__main-text {
  max-width: 80%;
  min-height: fit-content;
}

.two-columns__brief {
  max-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2F80ED;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}


/* ===== description End ===== */

/* ===== techniques start ===== */

.techniques {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-top: 100px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.cards {
  width: 920px;
  margin: 0 auto 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
  list-style: none;
}

.cards__item {
  max-width: min-content;
  min-width: min-content;
  display: flex;
  flex-direction: column;
  margin: 0 100px 0 0;
  padding: 0;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 100px;
}

.cards__title {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 0 16px;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}

/* ===== techniques End ===== */

/* ===== video start ===== */

.video {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.video__iframes {
  margin: 50px auto 0;
}

.video__iframe {
  width: 515px;
  height: 316px;
  margin: 0;
  padding: 0;
}

.video__iframe:first-child {
  margin-right: 20px;
}


/* ===== video End ===== */

/* ===== oakley start ===== */

.oakley {
  margin: 0;
  background: #F2F2F2;
}

.two-columns {
  margin: 160px auto 80px;
}


/* ===== oakley End ===== */

/* ===== Feyman start ===== */

.feynman {
  min-height: 790px;
  display: flex;
  flex-direction: column;
  position: relative;
  background: #F2F2F2;
  margin: 0;
}

.feynman__title {
  max-width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  margin: 0 auto;
  padding: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  margin: 70px auto 0;
  padding: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  color: #2F80ED;
  text-decoration: none;
}

.feynman__image {
  background-image: url('../images/feynman.png');
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* ===== Feyman End ===== */

/* ===== Digits start ===== */

.digits {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin-top: 100px;
  margin-bottom: 0;
  max-width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.section-subtitle {
  margin-top: 20px;
  margin-bottom: 0;
  max-width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 1;
}

.table {
  width: 1100px;
  margin: 0 auto 100px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 1;
  list-style: none;
}

.table__cell {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  list-style: none;
  margin: 20px 0 0;
}

/* ===== Digits End ===== */

/* ===== Khan start ===== */

.khan {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F2F2F2;
}

.khan__container {
  width: 80%;
  margin: 105px auto 0;
  padding: 0;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  overflow: hidden;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2F80ED;
 text-decoration: none;
}

/* ===== Khan End ===== */

/* ===== Kaufman start ===== */

.kaufman {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  background:  #1F1F1F;
  align-items: center;
}

/* including elements with key-value modifiers */

.section-title_theme_dark{
  color: white;
  margin-top: 90px;
  margin-bottom: 0;
}

.section-subtitle_theme_dark{
  color: white;
}

.table_theme_dark {
  margin: 0 auto 90px;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark {
  color: white;
}

.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  animation: rotation 20s linear infinite;
}

/* ===== Kaufman End ===== */

/* ===== resources start ===== */

.resources {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px auto 217px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.resources__logo {
  width: 270px;
  height: 38px;
  margin: 0;
  padding: 0;
  align-self: center;
}


/* ===== resources End ===== */

/* ===== footer start ===== */

.footer {
  min-height: 350px;
  background:  #1F1F1F;
  display: flex;
  color: #F2F2F2;
}

.footer__columns {
  width: 90%;
  margin: 60px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  justify-content: space-between;
}

.footer__column_content_about {
  justify-content: flex-start;
}

.footer__column_content_social {
  justify-content: flex-start;
}

.logo_place_footer {
  background-image: url('../images/logo_place_footer.png');
  width: 183px;
  height: 35px;
  position: unset;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin: 0 10px 0 0;
  padding: 0;
  align-self: center;
}